:root {
	--brown: #592615;
	--cream: #faebd7;
	--gray: #767676;
}

a{
	color: var(--brown);
}

a:hover{
	color: var(--brown);
}

p{
	font-size: 13pt;
}

.logo{
	height: 70px;
}

.section{
    margin-top: 60px;
}

.radius-10{
	border-radius: 10px;
}

.img-wide{
	width: 100%;
}

.img-mid{
	width: 10rem;
}

.img-responsive{
	aspect-ratio: 16/9;
}

.repeater{
	background-color: var(--cream);
	border-radius: 10px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 5px;
}

.repeater>img{
	max-width: 50%;
}

.bg-brown{
    border-radius: 0 0 20px 20px;
    background-color: var(--cream);
}

.navbar-light .navbar-nav .active >.nav-link{
    color: var(--brown);
}

.navbar-light .navbar-nav .nav-link{
    color: var(--gray);
    transition: 0.3s;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: var(--brown);
    transition: 0.3s;
}

.btn-primary {
	background-color: var(--brown);
    border: 1px solid var(--brown);
	color: white;
	box-shadow: none;
}

.btn-primary:hover {
	background-color: var(--cream);
    border: 1px solid var(--cream);
	color: var(--brown);
}

.btn-primary:not(:disabled):not(.disabled):active{
	background-color: var(--brown);
	border: 1px solid var(--brown);
	color: var(--cream);
}

.btn-primary:focus{
	background-color: var(--brown);
	border: 1px solid var(--brown);
	color: var(--cream);
	box-shadow: 0 0 0 0.2rem rgb(89 38 21 / 50%);
}

.btn-primary:not(:disabled):not(.disabled):active:focus{
	box-shadow: 0 0 0 0.2rem rgb(89 38 21 / 50%);
}

.navbar-toggler:focus, .navbar-toggler:hover{
	outline: 2px solid var(--brown);
}

.form-control:focus{
	box-shadow: 0 0 0 0.2rem rgb(89 38 21 / 50%);
	border-color: transparent;
}

input[type=checkbox]{
  transform: scale(1.25);
  padding: 10px;
}

footer{
    margin-top: 60px;
}

.footer {
	position: relative;
	height: 20px;
	padding: 20px 40px 20px 40px;
	background-color: var(--cream);
	border-radius: 20px 20px 0 0;
}

.footer-content {
	margin: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: var(--brown);
}

@media screen and (max-width: 1024px) {
	
	.flex-rev{
		flex-direction: column-reverse;
	}

	.mob-t-20{
		margin-top: 20px;
	}
	
}


@media screen and (max-width: 420px) {
	.logo{
		height: 40px;
	}
}

.slider-container{
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
	margin: 0 15px 0 15px;
}

.slider-content-wrapper{
    display: flex;
    position: absolute;   
}

.canvas{
	width: 100%; 
	height: 200px;
}

@media screen and (max-width: 576px) {
	.slider-container{
		height: 200px;
	}
}